@model IEnumerable<project4.Models.Artist>
@{
    ViewData["Title"] = "Список исполнителей";
}

<h1>Список исполнителей</h1>

<form method="get" action="/Artist/Artist/">
    <input type="text" value="" name="text" />
    <input type="submit" value="Поиск" />
</form>

<table width="100%" class="table-condensed">
    <tr>
        <td>Имя</td>
        <td></td>
    </tr>
    @foreach (var artist in Model) {

        <tr>
            <td>@artist.Name</td>
            <td><a href="~/Artist/Edit/@artist.ID">Редактировать</a></td>
            <td><a href="~/Artist/Delete/@artist.ID">Удалить</a></td>
            <td><a href="~/Artist/Detail/@artist.ID">Детали</a></td>
        </tr>
    }
</table>
<p><a href="~/Artist/Add/">Добавить</a></p>