@model project4.Models.Disc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Детали</h4>
    <hr />
    <form method="post">
        <table>
            <tr>
                <td>Название:</td>
                <td><input type="text" value=@ViewBag.Name name="Name" /> </td>
            </tr>
            <tr>
                <td>Исполнитель:</td>
                <td><input type="text" value=@ViewBag.Artist name="Artist" /></td>
            </tr>
            <tr>
                <td>Количество:</td>
                <td><input type="text" value=@ViewBag.Count name="Count" /></td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
        </table>

    </form>
    <p><a href="~/Cd/Cd/">Вернуться к каталогу дисков</a></p>
</div>
<p>


